.bot {
  margin: 50px 2px
}

.botCollection {
  padding-left: 10%;
  margin-left: 10%;
}

.App {
  text-align: center;
  background-color: darkorange;
}

.botImage {
  background-color: rgb(228, 222, 222);
  border-radius: 5%;
}